allow init btnvtool_exec:file execute;
allow init hal_perf_hwservice:hwservice_manager find;
allow init hwservicemanager:binder { call transfer };
allow init proc:file { read open setattr write };
allow init {
    hal_perf_default
    system_server
}:binder call;
