allow vendor_init media_rw_data_file:file { getattr open relabelfrom };
allow vendor_init {
    default_prop
    exported_secure_prop
    exported2_default_prop
    mm_parser_prop
    overlay_prop
    persist_debug_prop
    persist_dpm_prop
    qcom_ims_prop
    radio_prop
    vendor_camera_prop
}:property_service set;
